<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->

<h4>My Dinner</h4>
<div id="numberOfGuests-panel">
	<p>People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/></p>
	<p>Total number of guests:<span>{{getNumberOfGuests()}}</span></p>	
</div>
<div id="dinnerDishes-panel">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Dish Name</th>
				<th>Cost</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<!-- iteratively print dinner in menu here -->
			<tr ng-repeat="dish in menuTitlePriceList">
				<td>{{dish.title}}</td>
				<td>{{dish.dishPrice * numberOfGuests}}</td>
				<td>
					<button id="{{dish.id}}" class="btn btn-default btn-sm" ng-click="removeDishFromMenu(dish.id)">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
			<tr>
				<td>Pending</td>
				<td>{{pending * numberOfGuests}}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div style="text-align: right">SEK<span>{{totalMenuPrice * numberOfGuests}}</span></div>
	<div>
		<button class="btn btn-primary">Confirm Dinner</button>
	</div>
</div>