<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<div class="container">
	<ng-include src="'partials/title.html'" ng-controller='TitleCtrl'></ng-include>
</div>

<div class="container">
	<div class="col-xs-6">
		<h3>A Home Dinner Service</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
		<p>quick start</p>
		<a href="#/search" class="btn btn-primary">Create new dinner</a>
	</div>
</div>